header {
                background-image: linear-gradient(to bottom right, #FD7A9A, #FFD0DC);
                margin-bottom: 3%;
            }
            h1 {
                display: inline;
                font-size: 170%;
                color: #FFF;
            }
            #formu {
                margin-left: 3%;
                margin-right: 15%;
            }
            main {
                margin-left: 5%;
            }
            aside {
                margin-left: 15%;
                margin-top: 10%;
            }
            figure {
                text-align: center;
                margin-left: -5%;
                border-bottom-style: solid;
                border-bottom-color: #323232;
                border-bottom-width: 1px;
            }
            table {
                text-align: center;
                width: 50%;
            }
            form {
                margin-top: 1.75%;
            }
            input[type=submit] {
                background-color: #FD7A9A;
                border-radius: 5px;
            }
            input[type=text], input[type=email] {
                border-radius: 5px;
            }
            .fa {
                text-decoration: none;
                padding: 5%;
                color: #FD7A9A;
               }
                #social {
                text-align: center;
                border-bottom-style: solid;
                border-bottom-color: #323232;
                border-bottom-width: 1px;
            }
            .parent {
               flex-direction: column;
               justify-content: center;
            }
            .parent > input {
               text-indent: 20%;
            }
            .fa-circle-check {
                color: #FD7A9A;
            }
                @media only screen and (min-width: 992px) {
        body {
            font-family: Arial;
            font-size: 105%;
        }
                        #meu {
                font-size: 150%;
            }
                            #icon {
                width: 15%;
            }
                        #flex-container {
                display: flex;
                flex-wrap: wrap;
            }
            #flex-container > div {
                flex: 25%;
                padding: 2%;
            }
            #link {
                width: 50%;
            }
            a {
                font-size: 150%;
                margin-left: 10%;
            }
            .parent > i {
               margin-left: -4.5%;
               margin-top: -4.75%;
               position: absolute;
            }
            ul {
                margin-left: -5%;
            }
        }
        @media only screen and (max-width: 430px) {
            body {
            font-family: Arial;
            font-size: 80%;
        }
                        #meu {
                font-size: 120%;
            }
                            #icon {
                width: 20%;
            }
                        #flex-container {
                display: flex;
                flex-wrap: wrap;
            }
            #flex-container > div {
                flex: 25%;
                padding: 2%;
            }
            #link {
                width: 70%;
            }
            a {
                font-size: 80%;
                margin-left: 5%;
            }
            .parent > i {
               margin-left: -3.75%;
               margin-top: -3.5%;
               position: absolute;
            }
            form {
                width: 30px;
            }
            ul {
                margin-left: -15%;
            }
        }
        @media only screen and (min-width: 431px) and (max-width: 599px) {
            body {
            font-family: Arial;
            font-size: 80%;
        }
                        #meu {
                font-size: 120%;
            }
                            #icon {
                width: 20%;
            }
                        #flex-container {
                display: flex;
                flex-wrap: wrap;
            }
            #flex-container > div {
                flex: 25%;
                padding: 2%;
            }
            #link {
                width: 70%;
                margin-left: -10%;
            }
            a {
                font-size: 80%;
                margin-left: 5%;
            }
            .parent > i {
               margin-left: -3.75%;
               margin-top: -3.5%;
               position: absolute;
            }
            form {
                width: 30px;
            }
            ul {
                margin-left: -15%;
            }
        }
        @media only screen and (min-width: 600px) and (max-width: 819px) {
            body {
            font-family: Arial;
            font-size: 80%;
        }
                        #meu {
                font-size: 120%;
            }
                            #icon {
                width: 20%;
            }
                        #flex-container {
                display: flex;
                flex-wrap: wrap;
            }
            #flex-container > div {
                flex: 25%;
                padding: 2%;
            }
            #link {
                width: 70%;
                margin-left: 15%;
            }
            a {
                font-size: 80%;
                margin-left: 5%;
            }
            .parent > i {
               margin-left: -3.5%;
               margin-top: -3.25%;
               position: absolute;
            }
            form {
                width: 30px;
            }
            ul {
                margin-left: -15%;
            }
        }
        @media only screen and (min-width: 820px) and (max-width: 991px) {
            body {
            font-family: Arial;
            font-size: 80%;
        }
                        #meu {
                font-size: 120%;
            }
                            #icon {
                width: 20%;
            }
                        #flex-container {
                display: flex;
                flex-wrap: wrap;
            }
            #flex-container > div {
                flex: 25%;
                padding: 2%;
            }
            #link {
                width: 70%;
                margin-left: -10%;
            }
            a {
                font-size: 80%;
                margin-left: 10%;
            }
            .parent > i {
               margin-left: -4.5%;
               margin-top: -4.25%;
               position: absolute;
            }
            form {
                width: 30px;
            }
            ul {
                margin-left: -15%;
            }
        }
